<div class="flex justify-center items-center h-screen bg-white text-black">
  <div class="p-8 rounded shadow-md w-full max-w-md">
    <div class="text-center mb-6">
      <i class="pi pi-user-plus text-5xl text-black-alpha-80"></i>
      <h2 class="text-2xl font-semibold mt-2">Registro</h2>
    </div>
    <form (ngSubmit)="register()">
      <div class="mb-4">
        <label for="name" class="block text-gray-700 text-sm font-bold mb-2">Nombres</label>
        <input id="name" type="text" pInputText placeholder="Tus nombres completos" class="w-full" [(ngModel)]="name"
          name="name" required />
      </div>

      <div class="mb-4">
        <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Correo Electrónico</label>
        <input id="email" type="email" pInputText placeholder="Tu correo electrónico" class="w-full" [(ngModel)]="email"
          name="email" required />
      </div>

      <div class="mb-4">
        <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Contraseña</label>
        <p-password id="password" placeholder="Tu contraseña" inputStyleClass="w-full" [(ngModel)]="password"
          name="password" [feedback]="false" styleClass="w-full" required></p-password>
      </div>

      <div class="mb-4">
        <label for="phone" class="block text-gray-700 text-sm font-bold mb-2">Teléfono</label>
        <input id="phone" type="tel" pInputText placeholder="Tu número de teléfono" class="w-full"
          [(ngModel)]="phone" name="phone" required />
      </div>

      <div class="mt-6">
        <button pButton type="submit" label="Registrarse" icon="pi pi-user-plus"
          class="w-full p-2 bg-black text-white font-semibold rounded hover:bg-gray-800 focus:outline-none focus:ring focus:border-black">
          Registrar
        </button>
      </div>
      <div class="mt-4 text-center text-gray-600 text-sm">
        ¿Ya tienes una cuenta?
        <button pButton label="Inicia Sesión" class="p-button-link text-black-alpha-70 hover:underline" [routerLink]="['/login']"></button>
      </div>
    </form>
  </div>
</div>
